<div class="box box-success">
	<div class="box-header">
		<i class="fa fa-user-o"></i>
		<h3 class="box-title">FORMULARIO ENCUESTA</h3>
	</div>
	<div class="row"></div>
	<div class="box-body chat" id="chat-box">
		<div class="form-group form-group-sm">
			<form #standardForm="ngForm" (ngSubmit)="save()">
					<div class="row">
					<div class="col-sm-5">
						<div class="input-group" >
							<span class="input-group-addon"><i
								class="fa fa-text-width" aria-hidden="true"></i></span> <input
								class="form-control" type="text" placeholder="codigo"
								[(ngModel)]="encuesta.codigo" invalidNumber id="codigo"
								class="{invalid: (invalid | async)}" name="codigo" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-5">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="fa fa-caret-down" aria-hidden="true"></i></span>
								<select class="form-control"
								    class="bg-green" [(ngModel)]="encuesta.establecimientoSalud"
								    id="establecimientoSalud" name="establecimientoSalud" >
								  <option value="" disabled selected>-------SELECCIONE------</option>
								  <option *ngFor="let establecimiento of establecimientosSalud" [ngValue]="establecimiento">{{establecimiento.codigo}}</option>
								</select >
						</div>
					</div>
					<div class="col-sm-1">
						<app-message [@flyInOut]="'in,out'" *ngIf="invalid | async"
							[messages]="failures | async"> </app-message>
					</div>
					<div class="col-sm-5">
						<div class="input-group" >
							<span class="input-group-addon"><i
								class="fa fa-text-width" aria-hidden="true"></i></span> <input
								class="form-control" type="text" placeholder="responsable"
								[(ngModel)]="encuesta.responsable"
								class="{invalid: (invalid | async)}" name="responsable" id="responsable" />
						</div>
					</div>
					<div class="col-sm-1">
						<app-message [@flyInOut]="'in,out'" *ngIf="invalid | async"
							[messages]="failures | async"> </app-message>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="fa fa-text-width" aria-hidden="true"></i></span> <input
								class="form-control" type="text" placeholder="cargo"
								[(ngModel)]="encuesta.cargo" id="cargo"
								class="{invalid: (invalid | async)}" name="cargo" />
						</div>
					</div>
					<div class="col-sm-1">
						<app-message [@flyInOut]="'in,out'" *ngIf="invalid | async"
							[messages]="failures | async"> </app-message>
					</div>
					<div class="col-sm-5">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="fa fa-text-width" aria-hidden="true"></i></span> <input
								class="form-control" type="text" placeholder="extra"
								[(ngModel)]="encuesta.extra" id="extra"
								class="{invalid: (invalid | async)}" name="extra" />
						</div>
					</div>
					<div class="col-sm-1">
						<app-message [@flyInOut]="'in,out'" *ngIf="invalid | async"
							[messages]="failures | async"> </app-message>
					</div>
				</div>
				<div class="form-group">
					<!-- <button type="submit" [disabled]="standardForm.invalid"
						class="btn btn-success">
						<i class="fa fa-floppy-o" aria-hidden="true"></i>
					</button> -->
					<a href="javascript:void(0);" class="btn btn-primary"
						(click)="clear()"> <i class="fa fa-eraser" aria-hidden="true"></i>
					</a>

					<button  type="submit" [disabled]="standardForm.invalid"
					class="btn btn-primary" [routerLink]="'/foesamn/'+parametro"
						(click)="createEncuesta()"> <i class="fa fa-arrow-right" aria-hidden="true"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="box-footer"></div>
</div>
