<header class="main-header" *ngIf="usuario!= null && usuario.loggedIn">
    <!-- Logo -->
    <a class="logo" [routerLink]="['/home']" routerLinkActive="active"  title="HOME">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>M</b>SP</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>MSP</b> ESAMYN</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
     		<select class="dropdown" id="canton" [(ngModel)]="establecimientoSelected" name="canton" 
     		style="width: 155px" (change)="onSelectEstablecimiento()">
                <option id="0" [ngValue]="" selected>--ESTABLECIMIENTO--</option>
                <option id="{{estab.codigo}}"  [ngValue]="estab" *ngFor="let estab of establecimientosSalud">{{estab.unicodigo}} - {{estab.direccion}}</option>
            </select>
        </ul>
        <ul class="nav navbar-nav">
     		<li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		        <span class="glyphicon glyphicon-user"></span> {{usuario.nombre}}<span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li>
		          	<a class="dropdown-item" href="javascript:void(0)" (click)="logOut()">
		          		<span class="glyphicon glyphicon-log-out"></span> Logout
		          	</a>
		          </li>
		          <li>
		          	<a class="dropdown-item" href="javascript:void(0)" (click)="showPrompt()"><span class="glyphicon glyphicon-pencil"> </span>Cambio Password</a>
		          </li>
		          <li>
		          	<a class="dropdown-item" href="#"><span class="glyphicon glyphicon-question-sign"></span>Ayuda</a>
		          </li>
		        </ul>
		     </li>
        </ul>
      </div>
    </nav>
  </header>



<app-alert></app-alert>
<app-menu [@slideInOut]="menuState" *ngIf="usuario!= null && usuario.loggedIn"></app-menu>
