<div  style="margin: 10px 0px;" [ngClass]="{'col-lg-12 col-sm-12 col-md-12' : !encuestas.length, 'col-lg-6 col-sm-6 col-md-6' : encuestas.length}">	
    <div  id="principal" [hidden]="isVisible">
        <ngx-datatable
            class="dark"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [selected]="selected"
            [selectionType]="'single'"
            (activate)="onActivate($event)"
            (select)='onSelect($event)'>
            <ngx-datatable-column name="Nombre" prop="titulo" [flexGrow]="5">
              <ng-template let-column="column" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{value}}</strong>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Accion"  prop="codigo" [flexGrow]="1">
              <ng-template let-column="column" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <a [routerLink]="['/encuestaformcomponent/'+value]">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

    </div>
</div>

<div class="col-lg-6 col-sm-6 col-md-6" style="margin: 10px 0px;" *ngIf="encuestas.length">	
    <div  id="secundario"  >
        <ngx-datatable
            class="dark"
            [rows]="encuestas"
            [loadingIndicator]="loadingIndicatorEncuesta"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [selectionType]="'single'"
            (activate)="onActivateEncuesta($event)"
            (select)='onSelectEncuesta($event)'>
            <ngx-datatable-column name="Codigo" prop="codigo" [width]="10">
              <ng-template let-column="column" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{value}}</strong>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Fecha Modificacion" prop="modificado" [width]="10">
              <ng-template let-column="column" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{value}}</strong>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Acciones"  prop="codigo" [width]="10">
              <ng-template let-column="column" ngx-datatable-header-template>
                {{column.name}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <a style="margin: 5px">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0);" (click)="modificarEncuesta()" 
                style="margin: 5px" >
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

    </div>
</div>
