<div class="modal-dialog" style="width: 400px;">
<div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" (click)="close()">&times;</button>
     <h4 class="modal-title">{{title || 'Prompt'}}</h4>
   </div>
   <div class="modal-body">
    	<div class="row">
    		<div class="col-md-4">USUARIO</div>
    		<div class="col-md-4">{{usuario.nombre}}</div>
    	</div>
    	<div class="row">
    		<div class="col-md-4">CONTRASENA ACTUAL</div>
    		<div class="col-md-4"><input required type="text" [(ngModel)]="usuario.contrasenia" ></div>
    	</div>
    	<div class="row">
    		<div class="col-md-4">CONTRASENA ANTERIOR</div>
    		<div class="col-md-4"><input required type="text" [(ngModel)]="usuario.passwordConfirm" ></div>
    	</div>
    	<div class="row">
    		<div class="well well-sm">{{mensaje}}</div>
    	</div>
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-primary" (click)="apply()" *ngIf="!disableButton">OK</button>
     <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
   </div>
 </div>
</div>
